html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  @extend %helvetica_regular-400;
  color: $text;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;

  &.lock {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-narrow {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: $title;
  @extend %poppins-regular-400;
  font-size: 32px;
}

.title-bold {
  color: $title;
  @extend %poppins-bold-700;
}

input,
textarea {
  &:active,
  &:focus {
    outline: transparent;
  }
}

button {
  &:active,
  &:focus {
    outline: transparent;
    cursor: pointer;
  }
}

// ! Скрывает заголовки и т.д. для СЕО
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input,
textarea {
  &:focus {
    border: 1px solid #9cc0f9;
  }

  &:hover {
    border: 1px solid $accent;
  }

  &:active {
    border: 1px solid yellowgreen;
  }
}

.button {
  display: inline-block;
  padding: 14px 36px;
  background-color: $accent;
  border: 2px solid $accent;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s ease 0s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: transparent;
    color: $accent;
  }
}

.map {
  max-height: 400px;
}

.up {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 45px;
  height: 45px;
  border: 1px solid #9c0e11;
  padding: 7px;
  transition: all 0.8s ease 0s;
  visibility: hidden;
  opacity: 0;

  &:hover {
    background-color: #9c0e11;

    .up__svg {
      fill: #fff;
    }
  }

  &__svg {
    fill: #9c0e11;
    transition: fill 0.8s ease 0s;
  }
}

.scroll.active .up {
  visibility: visible;
  opacity: 1;
}
