.aside {
  max-width: 370px;
  width: 100%;

  &__menu-list {
    margin-bottom: 50px;
  }

  &__menu-item {
    margin-bottom: 3px;
  }

  &__menu-link {
    display: block;
    padding: 15px 20px;
    color: $text;
    font-weight: 600;
    background-color: #f7f7f7;
    position: relative;
    transition: background-color 0.5s, color 0.5s ease 0s;

    &:hover {
      background-color: $accent;
      color: #fff;

      .aside__menu-svg {
        right: 20px;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__menu-svg {
    position: absolute;
    right: 65px;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, right 0.5s ease 0s;
  }

  &__doc-title {
    font-size: 22px;
    font-weight: 400;
    color: $title;
    margin-bottom: 24px;
  }

  &__doc-list {
    margin-bottom: 40px;
  }

  &__doc-item {
    margin-bottom: 10px;
  }

  &__doc-link {
    padding: 15px 20px 15px 55px;
    display: block;
    border: 1px solid $border;
    color: $text;
    font-size: 18px;
    @extend %poppins-regular-400;
    position: relative;
    transition: background-color 0.5s, color 0.5s ease 0s;

    &:hover {
      background-color: $accent;
      color: #fff;

      .aside__doc-svg {
        fill: #fff;
      }
    }
  }

  &__doc-svg {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: $text;
    transition: fill 0.5s ease 0s;
  }

  &__manager-box {
    padding: 30px 20px;
    background-color: $bg;
    border: 1px solid $border;
  }

  &__manager-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__manager-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 20px;
    border: 1px solid $border;
  }

  &__manager-name {
    color: $accent;
    margin-bottom: 5px;
  }

  &__manager-link {
    display: block;
    font-size: 13px;
    color: $text;
    padding-left: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 13px;
      height: 12px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__manager-phone {
    &::before {
      background-image: url(../images/svg-sprite/sprite.svg#phone);
    }
  }

  &__manager-mail {
    &::before {
      background-image: url(../images/svg-sprite/sprite.svg#envelope);
    }
  }
}
