@media (max-width: 1198px) {
  // ! Programs
  .programs__item {
    margin-bottom: 20px;
  }

  // ! about
  .about__content {
    display: block;
    max-width: 570px;
    margin: 0 auto;
  }

  .promotion__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .about__content-img {
    margin-bottom: 20px;
  }

  .about__text-box {
    margin-bottom: 70px;
  }

  //! reviews
  .reviews__item {
    flex-direction: column;
    align-items: center;
  }

  .reviews__text-box {
    margin-bottom: 20px;
  }

  //! connect
  .connect__contacts-box {
    max-width: 100%;
    margin-bottom: 20px;
  }

  //! footer
  .footer__items {
    display: block;
  }

  .footer__item {
    max-width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &:last-child {
      margin-bottom: 0;
      border: none;
    }
  }

  //! welcome
  .welcome__text-box,
  .welcome__img-box {
    display: block;
  }

  .welcome__img-box {
    margin-bottom: 20px;
  }

  .welcome__img {
    margin: 0 auto 20px;
  }

  .welcome__text-item {
    max-width: 100%;
  }

  .welcome__boxes {
    min-width: 100%;
  }

  .welcome__bottom-item {
    margin-bottom: 30px;
  }

  //! stages
  .stages__wrapper {
    flex-direction: column;
  }

  .aside {
    order: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;
    max-width: 100%;
    padding-left: 30px;
  }

  .stages__content {
    margin-bottom: 30px;
    max-width: 100%;
  }

  .stages__content-img {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .aside__aside-item {
    max-width: 370px;
    width: 100%;
    margin: 0 15px;
  }

  .stages__content-textbox {
    max-width: 100%;
    margin-right: 20px;
  }

  //! types
  .requirement__inner {
    flex-direction: column;
  }

  .requirement__content {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .requirement__img {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  //! contacts-bottom
  .contacts-bottom__inner {
    display: block;
  }

  .contacts-bottom__form-inner {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .contacts-bottom__input {
    max-width: 49%;
  }

  .manager {
    max-width: 100%;
    padding-bottom: 30px;
  }

  .manager__box {
    margin: 0 auto;
  }

  //! contacts
  .contacts__item {
    max-width: 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  //! accumulative
  .program__inner {
    flex-direction: column;
  }

  .program__content {
    max-width: 100%;
  }

  .program__img {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .program__aside {
    align-items: flex-start;
  }

  .program__aside-doc {
    order: 3;
  }

  //! guarantee
  .guarantee__inner {
    flex-direction: column;
  }

  .guarantee__content {
    max-width: 100%;
  }

  .guarantee__img {
    margin: 0 auto 25px;
  }
}

@media (max-width: 1122px) {
  // ! header
  .header__mobile-btn {
    display: flex;
  }

  .header__menu-list {
    display: block;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100vh;
    background-color: $accent;
    border-top: 1px solid #fff;
    padding-top: 20px;
    z-index: 55;
    transform: translateX(-100%);
    transition: transform 0.5s ease 0s;

    &.active {
      transform: translateX(0%);
    }
  }

  .header__menu-item {
    padding-top: 0;
  }

  .header__menu-link {
    color: #fff;
    padding: 10px 0;
  }

  .header__arrow {
    display: none;
  }

  .header__submenu {
    visibility: visible;
    opacity: 1;
    position: static;
  }

  .header__submenu-box {
    background-color: transparent;
  }

  .header__submenu-link {
    color: #fff;
    padding-top: 0;
    padding-left: 20px;

    &::before,
    &::after {
      display: none;
    }
  }

  .header__left {
    justify-content: space-between;
  }

  .header__top {
    display: none;
  }

  .header__nav-wrapper {
    top: 0;
  }

  // ! Programs
  .programs {
    padding: 50px 0;
  }
  //! about
  .about {
    padding: 50px 0;
  }

  //! Advantage
  .advantage {
    padding: 50px 0;
  }

  //! faq
  .faq {
    padding: 50px 0;
  }
  .accordion {
    display: block;
  }

  .accordion__container {
    max-width: 100%;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  //!reviews
  .reviews {
    padding: 50px 0;
  }

  .reviews__item {
    margin-bottom: 0;
  }

  //! example
  .example {
    padding-bottom: 50px;
  }

  //! partners
  .partners {
    padding-bottom: 50px;
  }

  //! connect
  .connect {
    padding: 50px 0;
  }

  //! footer
  .footer__basic-content {
    padding: 50px 0;
  }

  .up {
    display: none;
  }

  .footer__bottom-inner {
    display: block;
    text-align: center;
  }

  .footer__copy-box {
    margin-bottom: 10px;
  }

  .header__page-title {
    font-size: 36px;
    text-align: center;
  }

  //!welcome
  .welcome {
    padding: 50px 0;
  }

  .welcome__top-content {
    margin-bottom: 50px;
  }

  //!  .contacts
  .contacts {
    padding: 50px 0;
  }

  //! program
  .program {
    padding-bottom: 50px;
  }

  //! guarantee
  .guarantee {
    padding: 30px 0 50px;
  }

  .guarantee__inner {
    margin-bottom: 50px;
  }
}

@media (max-width: 864px) {
  // ! header
  .header__slider-title {
    font-size: 48px;
  }

  .popup {
    padding-top: 50px;
  }

  .popup__close {
    top: 0;
    right: 0;
  }

  .popup__inputs-fillable {
    flex-direction: column;
  }

  .popup__request-form {
    &--top {
      margin-bottom: 20px;
    }
  }

  // ! partners
  .partners .slick-btn {
    top: -100px;
  }

  //! connect
  .connect__form-wrap {
    max-width: 100%;
  }

  .connect__form-box {
    flex-direction: column;
    max-width: 100%;
  }

  .connect__input {
    max-width: 100%;
  }

  //! hesder-page
  .header__bottom-box {
    flex-direction: column;
  }

  .header__breadcrumbs-items {
    margin-bottom: 10px;
  }

  .header__share-list {
    padding-left: 5px;
  }

  //! stages
  .stages__content-img {
    width: 100%;
    height: 100%;
  }

  .stages__content-item {
    flex-direction: column;
  }

  .stages__content-textbox {
    order: 2;
    margin-right: 0;
    text-align: center;
  }

  .stages__contentitem-img {
    margin: 0 auto 20px;
  }

  .aside {
    max-width: 100%;
  }

  .aside__aside-item {
    max-width: 100%;
    margin: 0;
  }

  .aside__menu-svg {
    display: none;
  }

  //! types
  .requirement__img {
    width: 100%;
    height: 100%;
  }

  //! program
  .program__img {
    width: 100%;
    height: 100%;
  }

  .program__passport-content {
    &--conditions {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .program__passport-img {
    margin-bottom: 20px;
  }

  .program__passport-conditions {
    order: 2;
  }

  .program__manager-box {
    margin-bottom: 20px;
  }

  //! guarantee
  .guarantee__img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 634px) {
  .advantage__btn-box {
    display: block;
  }

  .advantage__btn {
    margin-bottom: 20px;
    margin-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .ask-question__inner {
    flex-direction: column;
  }

  .ask-question__text {
    margin-bottom: 20px;
  }

  //!stages
  .header__page-title {
    &--pages {
      font-size: 28px;
    }
  }

  //! contacts-bottom
  .contacts-bottom__inputs {
    flex-direction: column;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contacts-bottom__input {
    max-width: 100%;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contacts-bottom__msg {
    margin-bottom: 15px;
  }
}

@media (max-width: 584px) {
  // ! header
  .popup {
    padding-top: 70px;
  }
  .popup__title {
    font-size: 24px;
  }

  .popup__inputs-result {
    flex-direction: column;
  }

  .popup__input-wrap {
    margin-bottom: 5px;
  }

  // ! Programs

  .programs {
    padding: 30px 0;
  }

  .programs__title {
    font-size: 26px;
  }

  .programs__hidden {
    display: none;
  }

  .programs__text {
    font-size: 14px;
  }

  // ! about
  .about {
    padding: 30px 0;
  }

  .about__title {
    font-size: 26px;
  }

  .about__text-box {
    margin-bottom: 20px;
  }

  .about__stamp-box {
    display: none;
  }

  //! advantage
  .advantage {
    padding: 30px;
  }

  .advantage__title {
    font-size: 26px;
  }

  //! terms
  .terms__content-text {
    font-size: 24px;
  }

  //! faq
  .faq {
    padding: 30px 0;
  }

  .faq__title {
    font-size: 26px;
  }

  //! reviews
  .reviews {
    padding: 30px 0;
  }

  .reviews__title {
    font-size: 26px;
  }

  .reviews__text {
    font-size: 14px;
  }

  //! example
  .example {
    padding-bottom: 30px;
  }

  .example__title {
    font-size: 26px;
  }

  //! partners
  .partners {
    padding-bottom: 30px;
  }

  //! connect
  .connect {
    padding: 30px 0;
  }

  .connect__form-title {
    font-size: 26px;
  }

  //! footer
  .footer__basic-content {
    padding: 30px 0;
  }

  //!welcome
  .welcome__title {
    font-size: 26px;
  }

  .welcome {
    padding: 30px 0;
  }

  .welcome__top-content {
    margin-bottom: 30px;
  }

  .welcome__img {
    width: 90%;
    height: 90%;
  }

  //! contacts-bottom
  .contacts-bottom__form-inner {
    margin-bottom: 30px;
  }

  //!  .contacts
  .contacts {
    padding: 30px 0;
  }

  //! program
  .program__passport-item {
    flex-direction: column;

    p {
      max-width: 100%;
    }
  }

  //! program
  .program {
    padding: 30px 0 10px;
  }

  .program__passport-box {
    margin-bottom: 30px;
  }

  //! guarantee
  .guarantee {
    padding: 30px 0 30px;
  }

  .guarantee__inner {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  // ! header
  .header__slider-list {
    height: 700px;
  }

  .header__slider-title {
    font-size: 40px;
  }

  .header__right {
    display: none;
  }

  .header__breadcrumbs-link {
    font-size: 14px;
  }

  // ! Programs
  .programs__title {
    padding-top: 50px;
  }

  //! faq
  .accordion__title {
    font-size: 12px;
  }

  .accordion__content {
    font-size: 12px;
  }

  .faq__questions-text {
    font-size: 14px;
    text-align: center;
  }

  .faq__btn-box {
    flex-direction: column;
    align-items: center;
  }

  .faq__btn {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  //! ask-question
  .ask-question__text {
    font-size: 16px;
  }

  .ask-question__link {
    padding: 8px 20px;
  }
}

@media (max-width: 486px) {
  .programs__bottom-title {
    font-size: 16px;
  }

  .programs__bottom-text {
    font-size: 11px;
  }

  .programs__bottom {
    padding: 10px 10px 10px 5px;
  }

  .programs__bottom-logo {
    margin-right: 10px;
  }

  .programs__bottom-textbox {
    padding: 10px;
  }
}

@media (max-width: 408px) {
  // ! header
  .header__slider-title {
    font-size: 32px;
  }

  .header__slider-text {
    font-size: 16px;
  }

  .header__slider-buttons {
    flex-direction: column;
    justify-content: flex-start;
  }

  .header__btn {
    display: block;
  }

  .header__slider-link {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .header__page-title {
    &--pages {
      font-size: 24px;
    }
  }

  // ! terms
  .terms__content-text {
    font-size: 18px;
  }

  //! stages
  .stages__contentitem-img {
    width: 100%;
    height: 100%;
  }

  .aside__doc-link,
  .aside__menu-link {
    font-size: 12px;
  }

  .aside__manager-item {
    flex-direction: column;
  }

  .aside__manager-img {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .aside__manager-name {
    text-align: center;
  }
}

@media (max-width: 370px) {
  .header__breadcrumbs-link {
    font-size: 11px;
  }
}

@media (max-width: 342px) {
  .programs__bottom-title {
    font-size: 14px;
  }

  .advantage__btn {
    padding: 14px 20px;
  }
}
