.partners {
  padding-bottom: 70px;

  &__title {
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid $border;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 1px;
      background-color: $accent;
      left: 0;
      bottom: 0;
    }
  }

  &__img-box {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__img {
    height: 100%;
    margin: auto;
    border: 1px solid $border;
  }

  .slick-btn {
    position: absolute;
    right: 0;
    top: -85px;
    background-color: transparent;
    border: 2px solid $border;
    padding-top: 6px;
    z-index: 5;
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: border-color 0.5s ease 0s;

    &:hover {
      border-color: $accent;

      .slider-arrow {
        fill: $accent;
      }
    }
  }

  .slick-prev {
    right: 50px;
  }

  .slider-arrow {
    fill: #ababab;
    transition: fill 0.5s ease 0s;
  }
}
