.faq {
  padding: 70px 0;
  background-color: $bg;

  &__title {
    margin-bottom: 50px;
    padding-bottom: 15px;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 1px;
      background-color: $accent;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }

  &__questions-box {
    max-width: 410px;
    margin: 0 auto;
  }

  &__questions-text {
    margin-bottom: 25px;
  }

  &__btn-box {
    display: flex;
  }

  &__btn {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.faq-page {
  padding-bottom: 30px;
  background-color: transparent;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;

  &__container {
    max-width: 570px;
    width: 100%;
    padding: 0 20px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title-box {
    position: relative;
    margin: 0;
    padding: 24px 0 20px 50px;
    background-color: #fff;
    cursor: pointer;
    border-bottom: 1px solid $border;
    transition: color 0.5s ease 0s;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border: 2px solid #e4e4e4;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      z-index: 20;
      transition: border-color 0.5s ease 0s;
    }

    &.open {
      border-bottom: none;

      &::before {
        border-color: $accent;
      }

      .accordion__title {
        color: $accent;

        &::after {
          transform: rotate(0deg);
          background-color: $accent;
        }
      }
    }

    &:hover {
      &::before {
        border-color: $accent;
      }

      .accordion__title {
        color: $accent;

        &::before,
        &::after {
          background-color: $accent;
        }
      }
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    color: #222;
    transition: color 0.5s ease 0s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 1px;
      background-color: #e4e4e4;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.5s, background-color 0.5s ease 0s;
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  &__content {
    padding-bottom: 20px;
    border-bottom: 1px solid $border;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
