.terms {
  padding: 60px 0 125px;
  background-color: $accent;
  color: #fff;

  &__item {
    text-align: center;
  }

  &__content-text {
    max-width: 750px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 70px;
  }

  &__bottom-span {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
  }

  .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;

    li {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }

    button {
      background-color: transparent;
      width: 13px;
      height: 13px;
      font-size: 0;
      border: 2px solid #fff;
      border-radius: 50%;
      padding: 0;
      transition: background-color 0.5s ease 0s;
    }
  }
}
