<section class="about">
  <div class="container">
    <h2 class="title about__title">
      О «Первом жилищном» кооперативе
    </h2>

    <div class="about__content">
      <div class="about__content-img about__content-item">
        <img class="about__content-image" src="images/about/about-company.jpg" alt="About">
      </div>

      <div class="about__text-box about__content-item">
        <h3 class="about__content-title">
          Доступное жилье с последующим выкупом от кооператива «Первый Жилищный»
        </h3>
        <div class="about__text">
          <p>
            «Первый Жилищный» кооператив предоставляет возможность стать обладателем собственного жилья, одновременно
            проживать
            (прописаться и прописывать людей) в ней и выкупать с минимальной оплатой согласно составленного графика
            платежей. Помимо
            этого, данное жильё возможно сдать в долгосрочную субаренду, уведомив об этом правление кооператива.
          </p>
        </div>

        <h3 class="about__content-title about__content-title--bottom">
          «Первый Жилищный» - Работаем для Вас!
        </h3>
        <div class="about__text">
          <p>
            В нашем офисе Вы всегда встретите дружескую атмосферу и найдете поддержку компетентных специалистов,
            получите полную
            консультацию по всем программам кооператива.
          </p>
        </div>

        <div class="about__link-box">
          <a class="about__link" href="#">подробнее</a>
        </div>

        <div class="about__stamp-box">
          <img class="about__stamp" src="images/about/prints.png" alt="Печать">
        </div>
      </div>
    </div>

    <div class="about__promotion">
      <ul class="about__promotion-list">
        <li class="about__promotion-item">
          <h3 class="about__promotion-title about__promotion-title--guaranty">Финансовая гарантия</h3>
          <div class="about__promotion-text">
            Паевой фонд кооператива сосредоточен на счете банка, денежные средства могут быть направлены только на
            приобретение
            недвижимости и/или автотранспорта, либо на возврат средств.
          </div>
        </li>
        <li class="about__promotion-item">
          <h3 class="about__promotion-title about__promotion-title--joint">Совместное правление</h3>
          <div class="about__promotion-text">
            Каждый пайщик является соучредителем кооператива, что дает право участвовать в собраниях, утверждать
            решения, проверять
            всю финансовую отчётность.
          </div>
        </li>
        <li class="about__promotion-item">
          <h3 class="about__promotion-title about__promotion-title--protect">Государственная защита</h3>
          <div class="about__promotion-text">
            Все сделки пайщиков защищены законом КР «О кооперативах» от «30» апреля 2004 года и №111 «О некоммерческих
            организациях»
            от 15 октября 1999 года.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>