<section class="program">
  <div class="container">
    <div class="program__inner">
      <aside class="aside program__aside">
        <nav class="aside__menu aside__aside-item">
          <ul class="aside__menu-list">
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="accumulative-page.html">
                Накопительная программа
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="accessible-page.html">
                Доступное жилье
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="stages-page.html">
                Этапы приобретения
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="types-page.html">
                Требования к недвижимости
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="guarantee-page.html">
                Гарантии и преимущества
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="faq-page.html">
                Вопросы и ответы
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

        <div class="aside__doc aside__aside-item program__aside-doc">
          <h3 class="aside__doc-title">Документы Программы</h3>
          <ul class="aside__doc-list">
            <li class="aside__doc-item">
              <a class="aside__doc-link" href="images/accumulative/docis.jpg" target="_blank">
                Учредительные документы
                <svg class="aside__doc-svg" width="28px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#image"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <ul class="aside__manager-box aside__aside-item program__manager-box">
          <li class="aside__manager-item">
            <img class="aside__manager-img" src="images/stages/manager-1.jpg" alt="manager-1">
            <div class="aside__manager-textbox">
              <div class="aside__manager-name">
                Иван Иванов
              </div>
              <a class="aside__manager-phone aside__manager-link" href="tel:+996555000000">
                +996 (555) 000000
              </a>
              <a class="aside__manager-mail aside__manager-link" href="mailtO:inbox@1k.kg">inbox@1k.kg</a>
            </div>
          </li>

          <li class="aside__manager-item">
            <img class="aside__manager-img" src="images/stages/manager-2.jpg" alt="manager-1">
            <div class="aside__manager-textbox">
              <div class="aside__manager-name">
                Анна Кузнецова
              </div>
              <a class="aside__manager-phone aside__manager-link" href="tel:+996555000000">
                +996 (555) 000000
              </a>
              <a class="aside__manager-mail aside__manager-link" href="mailtO:inbox@1k.kg">inbox@1k.kg</a>
            </div>
          </li>
        </ul>
      </aside>

      <div class="program__content">
        <img class="program__img" src="images/accumulative/banner.jpg" alt="«Накопительная» программа">

        <h4 class="program__text-title">
          «Накопительная» программа социально-накопительной системы
        </h4>

        <div class="program__text-box">
          <h4 class="program__text-title program__text-title--box">
            Обязательные условия и формы выплат:
          </h4>
          <ul class="program__text">
            <li class="program__text-item">
              Оплата вступительного взноса – 5% от стоимости недвижимости;
            </li>
            <li class="program__text-item">
              Оплата паевого взноса – 26% от стоимости недвижимости путем паенакоплений в течение 36 месяцев;
            </li>
            <li class="program__text-item">
              Последующее внесение паевых взносов – ежемесячно (при вселении в недвижимость);
            </li>
            <li class="program__text-item">
              Страхование имущества – ежегодно.
            </li>
          </ul>
        </div>

        <div class="program__passport-box">
          <h2 class="program__passport-title">Паспорт программы «Накопительная»</h2>

          <div class="program__passport-content">
            <ul class="program__passport-items">
              <li class="program__passport-item">
                <p>Срок рассрочки</p>
                <p>От 1 года до 15 лет;</p>
              </li>
              <li class="program__passport-item">
                <p>Вступительный взнос</p>
                <p>5% от стоимости недвижимости;</p>
              </li>
              <li class="program__passport-item">
                <p>Заселение</p>
                <p>По договору;</p>
              </li>
              <li class="program__passport-item">
                <p>Погашение займа</p>
                <p>Ежемесячно после заселения;</p>
              </li>
              <li class="program__passport-item">
                <p>Членский взнос</p>
                <p>3% в год;</p>
              </li>
              <li class="program__passport-item">
                <p>Требуемые документы</p>
                <p>Паспорт гражданина КР;</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="program__passport-box">
          <h2 class="program__passport-title">Обязательные условия</h2>

          <div class="program__passport-content program__passport-content--conditions">
            <ul class="program__passport-conditions">
              <li class="program__passport-condition">
                <span>Категория граждан:</span> Дееспособные граждане Республики Кыргызстан, достигшие совершеннолетнего
                возраста;
              </li>
              <li class="program__passport-condition">
                <span>Членский взнос:</span> 3% в год от суммы, выделенной из единого имущественного фонда для
                приобретения недвижимости;
              </li>
            </ul>

            <img class="program__passport-img" src="images/about/about-company.jpg" alt="О компании">
          </div>

          <a class="program__link button" href="#popup">рассчитать онлайн</a>
        </div>

        <div class="accordion program__accordion">
          <div class="accordion__container program__accordion-container" id="accordion">
            <div class="accordion__box program__accordion-box">
              <div class="accordion__title-box program__accordion-titlebox">
                <h4 class="accordion__title program__accordion-title">В какой срок приобретается недвижимость для
                  пайщика?</h4>
              </div>
              <div class="accordion__content program__accordion-content">
                <p>
                  В порядке имеющейся очередности, которая доступна каждому пайщику в личном кабинете.
                </p>
              </div>
            </div>

            <div class="accordion__box program__accordion-box">
              <div class="accordion__title-box program__accordion-titlebox">
                <h4 class="accordion__title program__accordion-title">Могу ли я досрочно погасить задолжность
                  перед кооперативом?</h4>
              </div>
              <div class="accordion__content program__accordion-content">
                <p>
                  Да, Вы можете досрочно погасить задолжность перед кооперативом в любой момент, это даже
                  приветствуется.
                </p>
              </div>
            </div>

            <div class="accordion__box program__accordion-box">
              <div class="program__accordion-titlebox  accordion__title-box">
                <h4 class="accordion__title program__accordion-title">Что произойдёт, если я не смогу оплачивать
                  ежемесячные платежи кооперативу?</h4>
              </div>
              <div class="accordion__content program__accordion-content">
                <p>
                  В этом случае, мы предоставим Вам отсрочку платежа (финансовые каникулы) до трех месяцев. За это время
                  вы сможете
                  поправить свое финансовое положение и возобновите платежи. А если пайщик и далее старается уклоняться
                  от оплаты
                  платежей, квартира, по решению Общего собрания, перейдёт другому пайщику кооператива или будет
                  реализована. При
                  расторжении договора, пайщику будут возвращены все паевые взносы в 100% объеме.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>