<section class="advantage">
  <div class="container">
    <div class="advantage__top">
      <h2 class="title advantage__title">Преимущества кооператива «Первый жилищный»</h2>
    </div>

    <div class="advantage__slider-box">
      <ul class="advantage__slider">
        <li class="advantage__item">
          <div class="advantage__img-box">
            <img class="advantage__img" src="images/advantage/1.jpg" alt="Минимальный взнос">
            <div class="advantage__img-text">Минимальный взнос</div>
          </div>
          <div class="advantage__text">
            <p>
              Первоначальный взнос 31% от стоимости приобретаемой недвижимости
            </p>
          </div>
        </li>
        <li class="advantage__item">
          <div class="advantage__img-box">
            <img class="advantage__img" src="images/advantage/2.jpg" alt="До 15 лет">
            <span class="advantage__img-text">До 15 лет</span>
          </div>
          <div class="advantage__text">
            <p>
              Приобретение недвижимости в рассрочку, сроком, от 1 года до 15 лет
            </p>
          </div>
        </li>
        <li class="advantage__item">
          <div class="advantage__img-box">
            <img class="advantage__img" src="images/advantage/3.jpg" alt="Только паспорт">
            <span class="advantage__img-text">Только паспорт</span>
          </div>
          <div class="advantage__text">
            <p>
              Минимальный пакет документов, паспорт гражданина Кыргызской Республики
            </p>
          </div>
        </li>
        <li class="advantage__item">
          <div class="advantage__img-box">
            <img class="advantage__img" src="images/advantage/4.jpg" alt="Финансовая гарантия">
            <span class="advantage__img-text">Финансовая гарантия</span>
          </div>
          <div class="advantage__text">
            <p>
              Все средства со счёта кооператива, направляются только на покупку жилья
            </p>
          </div>
        </li>
        <li class="advantage__item">
          <div class="advantage__img-box">
            <img class="advantage__img" src="images/advantage/5.jpg" alt="Минимальный возраст">
            <span class="advantage__img-text">Минимальный возраст</span>
          </div>
          <div class="advantage__text">
            <p>
              В кооператив может вступить любой дееспособный гражданин КР от 18 лет
            </p>
          </div>
        </li>
        <li class="advantage__item">
          <div class="advantage__img-box">
            <img class="advantage__img" src="images/advantage/6.jpg" alt="Гарантия возврата">
            <span class="advantage__img-text">Гарантия возврата</span>
          </div>
          <div class="advantage__text">
            <p>
              Гарантированный возврат средств, в случае потери платежеспособности
            </p>
          </div>
        </li>
        <li class="advantage__item">
          <div class="advantage__img-box">
            <img class="advantage__img" src="images/advantage/7.jpg" alt="Весь Кыргызстан">
            <span class="advantage__img-text">Весь Кыргызстан</span>
          </div>
          <div class="advantage__text">
            <p>
              Возможность приобретения нескольких объектов недвижимости по всей КР
            </p>
          </div>
        </li>
        <li class="advantage__item">
          <div class="advantage__img-box">
            <img class="advantage__img" src="images/advantage/8.jpg" alt="Передача прав">
            <span class="advantage__img-text">Передача прав</span>
          </div>
          <div class="advantage__text">
            <p>
              Возможность переуступки прав требования третьему лицу (перепродажа)
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="advantage__questions-box">
      <h4 class="advantage__questions-text">Остались вопросы? Задайте их сейчас!</h4>
      <div class="advantage__btn-box">
        <a class="advantage__btn button" href="#popup-request">Отправить заявку</a>
        <a class="advantage__btn button" href="#popup">онлайн калькулятор</a>
      </div>
    </div>

    <div id="popup-request" class="popup">
      <a href="#close" class="popup__area"></a>
      <div class="popup__body">
        <div class="popup__content">
          <a href="#close" class="popup__close">
            <svg class="popup__close-svg" width="25px" height="25px">
              <use xlink:href="images/svg-sprite/sprite.svg#close"></use>
            </svg>
          </a>
          <div class="sig">
            <div class="sec-title pdb-51 popup__text">
              <h1 class="popup__title">Заказать обратный звонок</h1>
              <span class="border-center"></span>
              <p class="popup__warranty">
                Заполните 2 поля, и наш консультант свяжется с Вами!
              </p>
            </div>

            <form class="popup__request-forms">
              <div class="popup__request-inputbox">
                <label class="popup__request-label">Ваше имя:</label>
                <input class="popup__request-input" type="text" placeholder="Ваше имя">
              </div>

              <div class="popup__request-inputbox">
                <label class="popup__request-label">Введите Ваш номер телефона:</label>
                <input class="popup__request-input" type="tel" placeholder="Номер телефона">
              </div>
            </form>

            <div class="popup__submit-box">
              <button class="popup__submit button" type="submit">
                отправить заявку!
              </button>
            </div>

            <div class="popup__bottom-text">
              <p>
                Мы гарантируем отсутствие спама, и ваши данные будут использованы только по назначению!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>