<section class="cabinet">
  <div class="container">
    <div class="cabinet__inner">
      <aside class="aside">
        <nav class="aside__menu aside__aside-item">
          <ul class="aside__menu-list">
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="accumulative-page.html">
                Накопительная программа
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="accessible-page.html">
                Доступное жилье
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="stages-page.html">
                Этапы приобретения
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="types-page.html">
                Требования к недвижимости
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="guarantee-page.html">
                Гарантии и преимущества
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="faq-page.html">
                Вопросы и ответы
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

        <div class="aside__doc aside__aside-item aside__doc-cabinet">
          <h3 class="aside__doc-title">Документы Кооператива</h3>
          <ul class="aside__doc-list">
            <li class="aside__doc-item">
              <a class="aside__doc-link" href="images/stages/docs.jpg" target="_blank">
                Свидетельство НК
                <svg class="aside__doc-svg" width="28px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#image"></use>
                </svg>
              </a>
            </li>
            <li class="aside__doc-item">
              <a class="aside__doc-link" href="images/stages/pass-d.pdf" target="_blank">
                Устав Кооператива
                <svg class="aside__doc-svg" width="28px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#pdf"></use>
                </svg>
              </a>
            </li>
            <li class="aside__doc-item">
              <a class="aside__doc-link" href="images/stages/zayavleniye.pdf" target="_blank">
                Паспорт программ
                <svg class="aside__doc-svg" width="28px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#pdf"></use>
                </svg>
              </a>
            </li>
            <li class="aside__doc-item">
              <a class="aside__doc-link" href="images/stages/zayavleniye.pdf" target="_blank">
                Заявление на вступление
                <svg class="aside__doc-svg" width="28px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#pdf"></use>
                </svg>
              </a>
            </li>
            <li class="aside__doc-item">
              <a class="aside__doc-link" href="images/stages/zayavleniye.pdf" target="_blank">
                Договор о паевом взносе
                <svg class="aside__doc-svg" width="28px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#pdf"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <ul class="aside__manager-box aside__aside-item">
          <li class="aside__manager-item">
            <img class="aside__manager-img" src="images/stages/manager-1.jpg" alt="manager-1">
            <div class="aside__manager-textbox">
              <div class="aside__manager-name">
                Иван Иванов
              </div>
              <a class="aside__manager-phone aside__manager-link" href="tel:+996555000000">
                +996 (555) 000000
              </a>
              <a class="aside__manager-mail aside__manager-link" href="mailtO:inbox@1k.kg">inbox@1k.kg</a>
            </div>
          </li>

          <li class="aside__manager-item">
            <img class="aside__manager-img" src="images/stages/manager-2.jpg" alt="manager-1">
            <div class="aside__manager-textbox">
              <div class="aside__manager-name">
                Анна Кузнецова
              </div>
              <a class="aside__manager-phone aside__manager-link" href="tel:+996555000000">
                +996 (555) 000000
              </a>
              <a class="aside__manager-mail aside__manager-link" href="mailtO:inbox@1k.kg">inbox@1k.kg</a>
            </div>
          </li>
        </ul>
      </aside>

      <div class="cabinet__content">
        <img class="cabinet__img" src="images/guarantee/garanty.jpg" alt="">

        <h2 class="cabinet__title title">Таблица очередности пайщиков кооператива</h2>

        <div class="cabinet__table-box">
          <ul class="cabinet__table">
            <li class="cabinet__item cabinet__head-item">
              <ul class="cabinet__row cabinet__head-row">
                <li class="cabinet__col cabinet__head-col">ФИО</li>
                <li class="cabinet__col cabinet__head-col">Статус</li>
                <li class="cabinet__col cabinet__head-col">№ в очереди</li>
                <li class="cabinet__col cabinet__head-col">Программа</li>
              </ul>
            </li>

            <li class="cabinet__item">
              <ul class="cabinet__row recd">
                <li class="cabinet__col">Токтогулова Асель Мойдиновна</li>
                <li class="cabinet__col">Квартира выдана</li>
                <li class="cabinet__col"></li>
                <li class="cabinet__col">
                  <a class="cabinet__link" href="accessible-page.html">Доступное жилье</a>
                </li>
              </ul>
            </li>

            <li class="cabinet__item">
              <ul class="cabinet__row recd">
                <li class="cabinet__col">Масалбеков Нурбакыт Исабекович</li>
                <li class="cabinet__col">Квартира выдана</li>
                <li class="cabinet__col"></li>
                <li class="cabinet__col">
                  <a class="cabinet__link" href="accessible-page.html">Доступное жилье</a>
                </li>
              </ul>
            </li>

            <li class="cabinet__item">
              <ul class="cabinet__row">
                <li class="cabinet__col">Абдыкадырова Мээрим Курманбековна</li>
                <li class="cabinet__col">В очереди к получению</li>
                <li class="cabinet__col"></li>
                <li class="cabinet__col">
                  <a h class="cabinet__link" ref="accumulative-page.html">Накопительная</a>
                </li>
              </ul>
            </li>

            <li class="cabinet__item">
              <ul class="cabinet__row">
                <li class="cabinet__col">Мукарапов Алмазбек Тургунбекович</li>
                <li class="cabinet__col">В очереди к получению</li>
                <li class="cabinet__col"></li>
                <li class="cabinet__col">
                  <a h class="cabinet__link" ref="accumulative-page.html">Накопительная</a>
                </li>
              </ul>
            </li>

            <li class="cabinet__item">
              <ul class="cabinet__row">
                <li class="cabinet__col">Исаева Динара Садыркуловна</li>
                <li class="cabinet__col">В очереди к получению</li>
                <li class="cabinet__col">1</li>
                <li class="cabinet__col">
                  <a class="cabinet__link" href="accessible-page.html">Доступное жилье</a>
                </li>
              </ul>
            </li>

            <li class="cabinet__item">
              <ul class="cabinet__row">
                <li class="cabinet__col">Жолдошов Шералы Болотович</li>
                <li class="cabinet__col">В очереди к получению</li>
                <li class="cabinet__col">2</li>
                <li class="cabinet__col">
                  <a class="cabinet__link" href="accessible-page.html">Доступное жилье</a>
                </li>
              </ul>
            </li>

            <li class="cabinet__item">
              <ul class="cabinet__row">
                <li class="cabinet__col">Мамасентов Сталбек Кенжебаевич</li>
                <li class="cabinet__col">В очереди к получению</li>
                <li class="cabinet__col">3</li>
                <li class="cabinet__col">
                  <a class="cabinet__link" href="accessible-page.html">Доступное жилье</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="cabinet__documents">
          <h2 class="cabinet__title cabinet__documents-title title">Документы</h2>

          <ul class="cabinet__documents-items">
            <li class="cabinet__documents-item">
              <h3 class="cabinet__documents-itemtitle">Квартиры на балансе</h3>
              <div class="cabinet__documents-text">
                <p>
                  Справка об отсутствии (наличии) недвижимого имущества
                </p>
              </div>
              <a class="cabinet__documents-link" href="#">Открыть</a>
              <svg class="cabinet__documents-svg" width="32px" height="32px">
                <use xlink:href="images/svg-sprite/sprite.svg#apartments"></use>
              </svg>
            </li>

            <li class="cabinet__documents-item">
              <h3 class="cabinet__documents-itemtitle">Участники кооператива</h3>
              <div class="cabinet__documents-text">
                <p>
                  Справка о зарегистрированном юридическом лице
                </p>
              </div>
              <a class="cabinet__documents-link" href="#">Открыть</a>
              <svg class="cabinet__documents-svg" width="32px" height="32px">
                <use xlink:href="images/svg-sprite/sprite.svg#partys"></use>
              </svg>
            </li>

            <li class="cabinet__documents-item">
              <h3 class="cabinet__documents-itemtitle">Протокол собрания</h3>
              <div class="cabinet__documents-text">
                <p>
                  Протокол очередного собрания некоммерческого кооператива
                </p>
              </div>
              <a class="cabinet__documents-link" href="#">Открыть</a>
              <svg class="cabinet__documents-svg" width="32px" height="32px">
                <use xlink:href="images/svg-sprite/sprite.svg#file"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="promotion">
      <ul class="promotion__list">
        <li class="promotion__item">
          <h3 class="promotion__title promotion__title--guaranty">Финансовая гарантия</h3>
          <div class="promotion__text">
            Паевой фонд кооператива сосредоточен на счете банка, денежные средства могут быть направлены только на
            приобретение
            недвижимости и/или автотранспорта, либо на возврат средств.
          </div>
        </li>
        <li class="promotion__item">
          <h3 class="promotion__title promotion__title--joint">Совместное правление</h3>
          <div class="promotion__text">
            Каждый пайщик является соучредителем кооператива, что дает право участвовать в собраниях, утверждать
            решения, проверять
            всю финансовую отчётность.
          </div>
        </li>
        <li class="promotion__item">
          <h3 class="promotion__title promotion__title--protect">Государственная защита</h3>
          <div class="promotion__text">
            Все сделки пайщиков защищены законом КР «О кооперативах» от «30» апреля 2004 года и №111 «О некоммерческих
            организациях»
            от 15 октября 1999 года.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>