<section class="contacts">
  <div class="container">
    <h2 class="contacts__title title">Контакты</h2>
    <ul class="contacts__items contacts__items--top">
      <li class="contacts__item contacts__item--top contacts__item--map">
        <h3 class="contacts__item-title contacts__item-title--top">Расположение</h3>
        <div class="contacts__item-textbox">
          <div class="contacts__item-text">
            <p>
              Республика Кыргызстан,
            </p>
            <p>
              г. Бишкек, ул. Ахунбаева, 114/1
            </p>
            <p>
              3 этаж, каб. 3
            </p>
          </div>
        </div>
      </li>
      <li class="contacts__item contacts__item--top contacts__item--clock">
        <h3 class="contacts__item-title contacts__item-title--top">Режим работы</h3>
        <div class="contacts__item-textbox">
          <div class="contacts__item-text">
            <p>
              Пн-Пт: 09:30 до 18:00
            </p>
            <p>
              Суббота: <sapn>выходной</sapn>
            </p>
            <p>
              Воскресенье: <sapn>выходной</sapn>
            </p>
          </div>
        </div>
      </li>
      <li class="contacts__item contacts__item--top contacts__item--phone">
        <h3 class="contacts__item-title contacts__item-title--top">Контакты</h3>
        <div class="contacts__item-textbox">
          <div class="contacts__item-text">
            <a class="contacts__item-link" href="tel:+996555000000">тел.: +996 (312) 00-00-00</a>
            <a class="contacts__item-link" href="tel:+996555000000">моб.: +996 (774) 00-00-00</a>
            <a class="contacts__item-link" href="tel:+996555000000">моб.: +996 (553) 00-00-00</a>
          </div>
        </div>
      </li>
    </ul>

    <ul class="contacts__items">
      <li class="contacts__item">
        <h3 class="contacts__item-title">Расположение</h3>
        <div class="contacts__item-bottom">
          <h4 class="contacts__place">Ош</h4>
          <div class="contacts__item-textbox">
            <div class="contacts__item-text">
              <p>
                Республика Кыргызстан,
              </p>
              <p>
                г. Ош,
              </p>
              <p>
                ул.Монуева, 57.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <h3 class="contacts__item-title">Режим работы</h3>
        <div class="contacts__item-bottom">
          <h4 class="contacts__place">Ош</h4>
          <div class="contacts__item-textbox">
            <div class="contacts__item-text">
              <p>
                Пн-Пт: 09:30 до 18:00
              </p>
              <p>
                Суббота: <sapn>выходной</sapn>
              </p>
              <p>
                Воскресенье: <sapn>выходной</sapn>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <h3 class="contacts__item-title">Контакты</h3>
        <div class="contacts__item-bottom">
          <h4 class="contacts__place">Ош</h4>
          <div class="contacts__item-textbox">
            <div class="contacts__item-text">
              <a class="contacts__item-link" href="tel:+996555000000">тел.: (03222) 0-00-00</a>
              <a class="contacts__item-link" href="tel:+996555000000">тел.: +996 (312) 00-00-00</a>
              <a class="contacts__item-link" href="tel:+996555000000">моб.: +996 (774) 00-00-00</a>
              <a class="contacts__item-link" href="tel:+996555000000">моб.: +996 (553) 00-00-00</a>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="contacts__items">
      <li class="contacts__item">
        <h3 class="contacts__item-title">Расположение</h3>
        <div class="contacts__item-bottom">
          <h4 class="contacts__place">Жалал-Абад</h4>
          <div class="contacts__item-textbox">
            <div class="contacts__item-text">
              <p>
                Республика Кыргызстан,
              </p>
              <p>
                г. Бишкек, ул. Ахунбаева, 114/1
              </p>
              <p>
                3 этаж, каб. 3
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <h3 class="contacts__item-title">Режим работы</h3>
        <div class="contacts__item-bottom">
          <h4 class="contacts__place">Жалал-Абад</h4>
          <div class="contacts__item-textbox">
            <div class="contacts__item-text">
              <p>
                Пн-Пт: 09:30 до 18:00
              </p>
              <p>
                Суббота: <sapn>выходной</sapn>
              </p>
              <p>
                Воскресенье: <sapn>выходной</sapn>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <h3 class="contacts__item-title">Контакты</h3>
        <div class="contacts__item-bottom">
          <h4 class="contacts__place">Жалал-Абад</h4>
          <div class="contacts__item-textbox">
            <div class="contacts__item-text">
              <a class="contacts__item-link" href="tel:+996555000000">моб.: +996 (774) 00-00-00</a>
              <a class="contacts__item-link" href="tel:+996555000000">моб.: +996 (553) 00-00-00</a>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="contacts__items">
      <li class="contacts__item">
        <h3 class="contacts__item-title">Расположение</h3>
        <div class="contacts__item-bottom">
          <h4 class="contacts__place">Каракол</h4>
          <div class="contacts__item-textbox">
            <div class="contacts__item-text">
              <p>
                Республика Кыргызстан,
              </p>
              <p>
                г. Бишкек, ул. Ахунбаева, 114/1
              </p>
              <p>
                3 этаж, каб. 3
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <h3 class="contacts__item-title">Режим работы</h3>
        <div class="contacts__item-bottom">
          <h4 class="contacts__place">Каракол</h4>
          <div class="contacts__item-textbox">
            <div class="contacts__item-text">
              <p>
                Пн-Пт: 09:30 до 18:00
              </p>
              <p>
                Суббота: <sapn>выходной</sapn>
              </p>
              <p>
                Воскресенье: <sapn>выходной</sapn>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <h3 class="contacts__item-title">Контакты</h3>
        <div class="contacts__item-bottom">
          <h4 class="contacts__place">Каракол</h4>
          <div class="contacts__item-textbox">
            <div class="contacts__item-text">
              <a class="contacts__item-link" href="tel:+996555000000">моб.: +996 (774) 00-00-00</a>
              <a class="contacts__item-link" href="tel:+996555000000">моб.: +996 (553) 00-00-00</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>