<section class="contacts-bottom">
  <div class="container">
    <div class="contacts-bottom__inner">
      <div class="contacts-bottom__form-inner">
        <h2 class="contacts-bottom__title title">Задайте свой вопрос</h2>

        <form class="contacts-bottom__form">
          <div class="contacts-bottom__form-box">
            <div class="contacts-bottom__inputs">
              <input class="contacts-bottom__input" type="text" placeholder="Ваше имя">
              <input class="contacts-bottom__input" type="email" placeholder="Ваш E-mail">
            </div>
            <div class="contacts-bottom__inputs">
              <input class="contacts-bottom__input" type="tel" placeholder="Номер телефона">
              <input class="contacts-bottom__input" type="text" placeholder="Укажите тему">
            </div>
          </div>

          <textarea class="contacts-bottom__msg" placeholder="Введите сообщение"></textarea>
          <button class="contacts-bottom__btn button">отправить!</button>
        </form>
      </div>

      <aside class="manager">
        <h2 class="contacts-bottom__title title">Контакты</h2>
        <ul class="manager__box">
          <li class="manager__item">
            <img class="manager__img" src="images/stages/manager-1.jpg" alt="manager-1">
            <div class="manager__textbox">
              <div class="manager__name">
                Иван Иванов
              </div>
              <a class="manager__phone manager__link" href="tel:+996555000000">
                +996 (555) 000000
              </a>
              <a class="manager__mail manager__link" href="mailtO:inbox@1k.kg">inbox@1k.kg</a>
            </div>
          </li>

          <li class="manager__item">
            <img class="manager__img" src="images/stages/manager-2.jpg" alt="manager-1">
            <div class="manager__textbox">
              <div class="manager__name">
                Анна Кузнецова
              </div>
              <a class="manager__phone manager__link" href="tel:+996555000000">
                +996 (555) 000000
              </a>
              <a class="manager__mail manager__link" href="mailtO:inbox@1k.kg">inbox@1k.kg</a>
            </div>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</section>