<section class="connect">
  <div class="container">
    <div class="connect__wrap">
      <div class="connect__contacts-box">
        <h3 class="connect__contacts-title connect__titles">Контакты</h3>

        <address class="connect__address">
          Республика Кыргызстан, г. Бишкек,
          ул. Ахунбаева, 114/1, 3 этаж, каб. 3
        </address>

        <ul class="connect__list">
          <li class="connect__item">
            <a class="connect__item-link connect__item-link--mail" href="mailto:inbox@1k.kg">inbox@1k.kg</a>
          </li>
          <li class="connect__item">
            <a class="connect__item-link connect__item-link--phone" href="tel:+996312543352">+996 (312) 54-33-52</a>
          </li>
          <li class="connect__item">
            <a class="connect__item-link connect__item-link--phone" href="tel:+996774102040">+996 (774) 10-20-40</a>
          </li>
          <li class="connect__item">
            <a class="connect__item-link connect__item-link--phone" href="tel:+996553102040">+996 (553) 10-20-40</a>
          </li>
        </ul>
      </div>

      <div class="connect__form-wrap">
        <h3 class="connect__form-title connect__titles">Заказать обратный звонок</h3>

        <form class="connect__form">
          <div class="connect__form-box">
            <input type="text" class="connect__input" placeholder="Ваше имя">
            <input type="email" class="connect__input" placeholder="Ваш E-mail">
          </div>

          <div class="connect__form-box">
            <input type="text" class="connect__input" placeholder="Номер телефона">
            <select class="connect__input connect__input--select">
              <option selected disabled>Выберите вопрос</option>
              <option value="question-1">Общая консультация</option>
              <option value="question-2">Бухгалтерия</option>
              <option value="question-3">Партнёрство</option>
            </select>
          </div>

          <button class="connect__button button" type="submit">отправить!</button>
        </form>

        <div class="connect__form-bottom">
          <p>
            Отправьте заявку и мы свяжемся с Вами в ближайшее время!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>