<section class="example">
  <div class="container">
    <div class="example__top">
      <h2 class="example__title title">Ознакомьтесь с примерами квартир</h2>
      <div class="example__top-text">
        <p>
          Примеры для ознакомления по программе "Доступное жилье".
        </p>
      </div>
    </div>

    <div class="example__content">
      <ul class="example__items">
        <li class="example__item">
          <div class="example__img-box">
            <img class="example__img" src="images/example/1.jpg" alt="1 комнатная квартира">
            <div class="example__overlay">
              <span class="example__text-span">Ежемесячный платеж</span>
              <span class="example__num-span">9 667 сом</span>
            </div>
          </div>

          <div class="example__descr-box">
            <div class="example__descr-title">2 комнатная квартира</div>
            <ul class="example__descr-items">
              <li class="example__descr-item">Стоимость: 1 500 000 сом</li>
              <li class="example__descr-item">Срок аренды: 15 лет</li>
              <li class="example__descr-item">Первоначальный взнос: 31%</li>
              <li class="example__descr-item">Перв. взнос: 465 000 сом</li>
            </ul>
          </div>
        </li>

        <li class="example__item">
          <div class="example__img-box">
            <img class="example__img" src="images/example/2.jpg" alt="1 комнатная квартира">
            <div class="example__overlay">
              <span class="example__text-span">Ежемесячный платеж</span>
              <span class="example__num-span">19 333 сом</span>
            </div>
          </div>

          <div class="example__descr-box">
            <div class="example__descr-title">3 комнатная квартира</div>
            <ul class="example__descr-items">
              <li class="example__descr-item">Стоимость: 3 000 000 сом</li>
              <li class="example__descr-item">Срок аренды: 15 лет</li>
              <li class="example__descr-item">Первоначальный взнос: 31%</li>
              <li class="example__descr-item">Перв. взнос: 930 000 сом</li>
            </ul>
          </div>
        </li>

        <li class="example__item">
          <div class="example__img-box">
            <img class="example__img" src="images/example/3.jpg" alt="1 комнатная квартира">
            <div class="example__overlay">
              <span class="example__text-span">Ежемесячный платеж</span>
              <span class="example__num-span">25 778 сом</span>
            </div>
          </div>

          <div class="example__descr-box">
            <div class="example__descr-title">1 комнатная квартира</div>
            <ul class="example__descr-items">
              <li class="example__descr-item">Стоимость: 4 000 000 сом</li>
              <li class="example__descr-item">Срок аренды: 15 лет</li>
              <li class="example__descr-item">Первоначальный взнос: 31%</li>
              <li class="example__descr-item">Перв. взнос: 1 240 000 сом</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="example__questions-box">
      <h4 class="example__questions-text">Не нашли ответы на вопросы? Задайте их сейчас!</h4>
      <div class="example__btn-box">
        <a class="example__btn button" href="#popup">рассчитать онлайн</a>
      </div>
    </div>
  </div>
</section>