<section class="faq faq-page">
  <div class="container">
    <div class="faq__inner">
      <h2 class="faq__title title">Ответы на популярные вопросы</h2>
      <div class="accordion">
        <div class="accordion__container" id="accordion">
          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Что такое «Первый жилищный» кооператив?</h4>
            </div>
            <div class="accordion__content">
              <p>
                «Первый жилищный» кооператив, является некоммерческой организацией, т.е. юридическим лицом, не
                преследующим в качестве
                основной цели своей деятельности извлечение прибыли.
              </p>
              <p>
                Жилищным кооперативом признается добровольное объединение граждан и (или) юридических лиц на основе
                членства в целях
                удовлетворения потребностей граждан в жилье.
              </p>
              <p>
                «Первый жилищный» кооператив создан в городе Бишкек, 5 октября 2017 года. В соответствии с законами
                Кыргызской
                Республики «О кооперативах» от «30» апреля 2004 года и №111 «О некоммерческих организациях» от 15
                октября 1999 года.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Если у меня нет денег для первоначального взноса?</h4>
            </div>
            <div class="accordion__content">
              <p>
                На этот случай в кооперативе «Первый жилищный» имеется "Накопительная программа", для вступления в
                кооператив требуется
                всего 5% от общей стоимости приобретаемой недвижимости. Общая сумма накоплений составит 31%,
                соответственно Вам будет
                нужно накопить оставшиеся 26% в срок - 36 месяцев.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">В чем отличие жилищного кооператива от Банка?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Так как, паевой фонд кооператива «Первый жилищный» обходится без заемных средств и не имеет
                инвесторов, с их большими
                процентами, то вся недвижимость для пайщиков кооператива будет стоить почти в два раза меньше, чем по
                ипотечному кредиту
                в любом из банков.
              </p>
              <p>
                Поэтому, основным отличием вступления в ЖК от ипотечного кредита в банке, является наиболее простой и
                легкий способ
                приобретения собственной квартиры.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">У меня есть 31% от стоимости жилья, как скоро я заеду в квартиру?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Выкуп недвижимости для пайщика кооператива проходит в порядке живой очереди, которую Вы можете
                отслеживать в своем
                личном кабинете.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">В какой срок приобретается недвижимость для пайщика?</h4>
            </div>
            <div class="accordion__content">
              <p>
                В порядке имеющейся очередности, которая доступна каждому пайщику в личном кабинете.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Могу ли я получить жилье, если я работаю неофициально?</h4>
            </div>
            <div class="accordion__content">
              <p>
                В соответствии с законами Кыргызской Республики «О кооперативах», стать членом жилищного кооператива,
                а соответственно и
                получить жилье, может любой гражданин КР от 18 лет. При этом подтверждение доходов не требуется!
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Кто такой пайщик?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Пайщик – гражданин или юридическое лицо удовлетворяющее требованиям закона «О кооперативах», внесший
                паевой
                (имущественный) взнос в установленном Уставом кооператива размере и порядке, и принятое в кооператив с
                правом голоса.
              </p>
              <p>
                Пайщиком кооператива «Первый жилищный» может стать гражданин Республики Кыргызстан вне зависимости от
                вероисповедания,
                национальной принадлежности, материального достатка.
              </p>
              <p>
                Пайщик имеет право, как вступать в кооператив, так и выходить из него на добровольной основе.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Можете ли Вы выселить пайщика и продать квартиру без его ведома?</h4>
            </div>
            <div class="accordion__content">
              <p>
                На квартиру выданную Вам кооперативом, будет зарегистрировано обременение права. Вы, также, как и
                кооператив, будете
                являться правообладателем. Соответственно, одна из сторон не может продать, заложить или подарить
                недвижимость без
                участия и согласия второй стороны.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Могу ли я продать невыкупленную квартиру, являясь пайщиком кооператива?
              </h4>
            </div>
            <div class="accordion__content">
              <p>
                Да, можете. По решению Общего собрания кооператива, квартира будет реализована. Средствами от продажи
                квартиры будет
                закрыт основной паевой платеж. Если возникнет разница между ценой продажи и суммой оставшегося паевого
                платежа – эта
                разница будет возвращена Вам.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Могу ли я досрочно закрыть долг перед кооперативом за выкупаемую, в
                рассрочку, квартиру?
              </h4>
            </div>
            <div class="accordion__content">
              <p>
                Да, Вы можете закрыть долг перед кооперативом в любой момент, это даже приветствуется.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Какие взносы, кроме вступительного, необходимо вносить чтобы получить
                квартиру?
              </h4>
            </div>
            <div class="accordion__content">
              <p>
                Взносы зависит от выбранной программы. По программам «Доступное жилье», необходимо внесение паевого и
                вступительного
                взносов. Далее, согласно индивидуального графика. По программе «Накопительная» - вносится
                вступительный взнос, а паевой
                взнос накапливается нужный Вам срок. Далее производите оплату, согласно индивидуального графика.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Что произойдёт, если я не смогу оплачивать ежемесячные платежи кооперативу?
              </h4>
            </div>
            <div class="accordion__content">
              <p>
                В этом случае, мы предоставим Вам отсрочку платежа (финансовые каникулы) до трех месяцев. За это время
                вы сможете
                поправить свое финансовое положение и возобновите платежи. А если пайщик и далее старается уклоняться
                от оплаты
                платежей, квартира, по решению Общего собрания, перейдёт другому пайщику кооператива или будет
                реализована. При
                расторжении договора, пайщику будут возвращены все паевые взносы в 100% объеме.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Какую недвижимость можно приобрести через ЖК?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Кооператив приобретает любую жилую или коммерческую недвижимость, которая соответствует внутренним
                требованиям
                кооператива: новостройки (введенные в эксплуатацию), жилье на вторичном рынке (не старше 1965 года
                постройки), частные
                дома (не старше 1965 года постройки, не саманные, не шпальные, не щитовые), коммерческая недвижимость
                (находящаяся в
                собственности).
              </p>
            </div>
          </div>
        </div>

        <div class="accordion__container" id="accordion">
          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Кто будет подыскивать для меня квартиру?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Право выбора приобретаемой недвижимости остается за пайщиком кооператива. Так же сотрудники
                кооператива «Первый
                жилищный» могут посодействовать Вам в поиске недвижимости и предложить варианты.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Что будет, если вы обанкротитесь или закроете кооператив?</h4>
            </div>
            <div class="accordion__content">
              <p>
                По Уставу кооператив может закрыться, только в том случае, если все члены жилищного кооператива выйдут
                из него. Если
                хотя бы один пайщик будет против, то ЖК не может быть закрыт или реорганизован. Если хотя бы один
                человек не пожелает
                выйти, кооператив не может быть ликвидирован. Банкротство кооперативу не грозит, так как имеется
                единый имущественный
                фонд, состоящий из недвижимости, имеющейся на балансе кооператива.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Могу ли я приобрести несколько объектов недвижимости?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Вы можете приобрести любое количество недвижимости, по Вашему усмотрению. Закон не ограничивает
                пайщика, жилищного
                кооператива, количеством приобретаемой недвижимости.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Вернут ли мне мои деньги, если я захочу выйти из жилищного кооператива?
              </h4>
            </div>
            <div class="accordion__content">
              <p>
                В случае Вашего выхода из кооператива, мы вернем Вам все паевые взносы в 100% размере, которые вы
                внесли или накопили.
                Вступительные и ежемесячные членские взносы возврату не подлежат.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Могу ли я купить частный дом или коттедж?
              </h4>
            </div>
            <div class="accordion__content">
              <p>
                Да, можно приобрести частный дом (из жженного кирпича). Условием для приобретения является год
                постройки, который должен
                быть не старше 1965 года, а также материал постройки. Кооператив не рассматривает приобретение
                щитосборных домов,
                саманных домов и построенных из шпал и дерева.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Могу ли я сдать квартиру в субаренду?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Согласно условий договора, арендатор имеет право передать жилое помещение в пользование субарендатору,
                предварительно
                уведомив об этом Правление кооператива.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Могу ли я приобрести коммерческую недвижимость?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Да, можно приобрести коммерческую недвижимость. Недвижимость должна находиться в собственности и без
                имеющихся
                обременений.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Можно ли приобрести квартиру в строящемся жилом доме?</h4>
            </div>
            <div class="accordion__content">
              <p>
                На момент приобретения, квартира в новостройке должна быть введена в эксплуатацию и иметь технический
                паспорт. Если дом
                еще строится и документы отсутствуют, то приобретение не рассматривается.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Куда поступают взносы и как?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Все взносы перечисляются на расчётный счёт кооператива, размещенный в банке. Все платежи, взносы и
                перечисления
                проводятся только безналичным расчетом.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Как я могу контролировать движение очереди, до приобретения моей квартиры?
              </h4>
            </div>
            <div class="accordion__content">
              <p>
                После вступления в кооператив и постановки в очередь, Вы получаете индивидуальный логин и пароль, для
                доступа в личный
                кабинет информационной базы кооператива.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Могу ли я приобрести недвижимость, при наличии кредитов в других банках?
              </h4>
            </div>
            <div class="accordion__content">
              <p>
                Да, Вы можете приобрести недвижимость независимо от действующих, главное условие, вы не должны
                состоять в черных списках
                банков.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">В чём суть Вашего кооператива?
              </h4>
            </div>
            <div class="accordion__content">
              <p>
                Целью кооператива «Первый жилищный» является удовлетворение потребностей членов кооператива, в
                собственном жилье.
                Кооператив «Первый жилищный» даёт возможность получить кооперативную квартиру в пользование,
                одновременно проживать в
                ней и выкупать с минимальной оплатой.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Нужна ли оценка приобретаемой недвижимости?
              </h4>
            </div>
            <div class="accordion__content">
              <p>
                Да, оценка требуется. На оценку выезжает специалисты нашего кооператива.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Можете ли Вы продать квартиру без ведома пайщика?</h4>
            </div>
            <div class="accordion__content">
              <p>
                На квартиру выданную Вам кооперативом, будет зарегистрировано обременение права. Вы, также как и
                кооператив, будете
                являться правообладателем. Соответственно, одна из сторон не может продать, заложить или подарить
                недвижимость без
                участия и согласия второй стороны.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>