<footer class="footer">
  <div class="footer__basic-content">
    <div class="container">
      <ul class="footer__items">
        <li class="footer__item">
          <img class="footer__logo" src="images/footer-logo.png" alt="logotype">

          <div class="footer__text">
            <p>
              Уставная деятельность кооператива «Первый жилищный» абсолютно прозрачна - в связи с этим Вам доступны все
              Уставные
              документы кооператива как на сайте, так и в офисе кооператива.
            </p>
            <p>Ждём Вас в нашем офисе!</p>
          </div>
        </li>

        <li class="footer__item">
          <h3 class="footer__title">О кооперативе</h3>

          <ul class="footer__menu">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">О кооперативе</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Гарантии и преимущества</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Требования к жилью</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Этапы приобретения</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Кабинет пайщика</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Контакты</a>
            </li>
          </ul>
        </li>

        <li class="footer__item">
          <h3 class="footer__title">Полезно знать</h3>

          <ul class="footer__menu">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Доступное жилье</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Накопительная программа</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Вопросы и ответы</a>
            </li>
          </ul>
        </li>

        <li class="footer__item">
          <h3 class="footer__title">Подписка на новости</h3>

          <div class="footer__descr-text">
            <p>
              Подпишитесь на новостную рассылку
            </p>
          </div>

          <form class="footer__form">
            <span class="footer__input-box"></span>
            <input class="footer__input" type="email" placeholder="введите ваш email">
          </form>

          <button class="footer__button button">отправить</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <div class="footer__copy-box">
          <p class="footer__copy">
            «Первый жилищный» © 2017 - 2022. Все права защищены.
          </p>

          <p class="footer__own">
            Контент размещенный на сайте «Первый жилищный» является интеллектуальной собственностью компании.
          </p>
        </div>

        <div class="footer__confidentiality">
          <a class="footer__confidentiality-link" href="#">
            Политика конфиденциальности
          </a>
        </div>
      </div>
    </div>
  </div>

  <a class="up" href="#">
    <svg class="up__svg" width="30px" height="30px">
      <use xlink:href="images/svg-sprite/sprite.svg#shevron-up"></use>
    </svg>
  </a>
</footer>