<section class="partners">
  <div class="container">
    <div class="partners__top">
      <h2 class="partners__title title">Партнеры</h2>
    </div>

    <ul class="partners__list">
      <li class="partners__item">
        <div class="partners__img-box">
          <img class="partners__img" src="images/partners/1.png" alt="Партнеры">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__img-box">
          <img class="partners__img" src="images/partners/2.png" alt="Партнеры">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__img-box">
          <img class="partners__img" src="images/partners/3.png" alt="Партнеры">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__img-box">
          <img class="partners__img" src="images/partners/4.png" alt="Партнеры">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__img-box">
          <img class="partners__img" src="images/partners/1.png" alt="Партнеры">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__img-box">
          <img class="partners__img" src="images/partners/2.png" alt="Партнеры">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__img-box">
          <img class="partners__img" src="images/partners/3.png" alt="Партнеры">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__img-box">
          <img class="partners__img" src="images/partners/4.png" alt="Партнеры">
        </div>
      </li>
    </ul>
  </div>
</section>