<section class="programs">
  <div class="container">
    <div class="programs__text-box">
      <h2 class="title programs__title">
        Программы<br> кооператива «Первый жилищный»
      </h2>
      <div class="programs__text">
        Основание для создания: улучшение жилищных условий граждан Республики Кыргызстан с различным уровнем дохода и
        повышение
        возможности приобретения доступного жилья для широких слоев населения.
      </div>
    </div>

    <div class="programs__content-box">
      <ul class="programs__items">
        <li class="programs__item">
          <img class="programs__img" src="images/programs/1.jpg" alt="накопительная">
          <div class="programs__bottom">
            <img class="programs__bottom-logo" src="images/programs/logo-red.png" alt="Logo">
            <div class="programs__bottom-textbox">
              <h3 class="programs__bottom-title">Первая «Накопительная»</h3>
              <div class="programs__bottom-text">
                <p>
                  Программа «Первого жилищного кооператива»
                </p>
              </div>
            </div>
          </div>

          <div class="programs__hidden">
            <div class="programs__hidden-top">
              <img class="programs__hidden-img" src="images/programs/logo-white.png" alt="Logo">
              <div class="programs__hidden-textbox">
                <h3 class="programs__hidden-title">Накопительная</h3>
                <div class="programs__hidden-text">
                  <p>
                    Программа «Первого жилищного кооператива»
                  </p>
                </div>
              </div>
            </div>

            <ul class="programs__hidden-list">
              <li class="programs__hidden-item">
                Вступительный взнос: 5% от стоимости недвижимости;
              </li>
              <li class="programs__hidden-item">
                Накопление: от 1 года до 3 лет;
              </li>
              <li class="programs__hidden-item">
                Заселение: вне очереди, после накопления;
              </li>
              <li class="programs__hidden-item">
                Членский взнос: 3% в год;
              </li>
              <li class="programs__hidden-item">
                Только паспорт гражданина КР;
              </li>
              <li class="programs__hidden-item">
                Подтверждение доходов: не требуется.
              </li>
            </ul>

            <div class="programs__link-box">
              <a class="programs__hidden-link" href="#">подробнее</a>
            </div>

            <div class="programs__hidden-homeimg">
              <img class="programs__home-img" src="images/programs/homes.png" alt="Home">
            </div>
          </div>
        </li>

        <li class="programs__item">
          <img class="programs__img" src="images/programs/2.jpg" alt="накопительная">
          <div class="programs__bottom">
            <img class="programs__bottom-logo" src="images/programs/logo-red.png" alt="Logo">
            <div class="programs__bottom-textbox">
              <h3 class="programs__bottom-title">«Доступное жильё»</h3>
              <div class="programs__bottom-text">
                <p>
                  Программа «Первого жилищного кооператива»
                </p>
              </div>
            </div>
          </div>

          <div class="programs__hidden">
            <div class="programs__hidden-top">
              <img class="programs__hidden-img" src="images/programs/logo-white.png" alt="Logo">
              <div class="programs__hidden-textbox">
                <h3 class="programs__hidden-title">Доступное жильё</h3>
                <div class="programs__hidden-text">
                  <p>
                    Программа «Первого жилищного кооператива»
                  </p>
                </div>
              </div>
            </div>

            <ul class="programs__hidden-list">
              <li class="programs__hidden-item">
                Вступительный взнос: 5% от стоимости недвижимости;
              </li>
              <li class="programs__hidden-item">
                Паевой взнос: 25% от стоимости недвижимости;
              </li>
              <li class="programs__hidden-item">
                Заселение: заселение в порядке очереди;
              </li>
              <li class="programs__hidden-item">
                Членский взнос: 3% в год;
              </li>
              <li class="programs__hidden-item">
                Только паспорт гражданина КР;
              </li>
              <li class="programs__hidden-item">
                Подтверждение доходов: не требуется.
              </li>
            </ul>

            <div class="programs__link-box">
              <a class="programs__hidden-link" href="#">подробнее</a>
            </div>

            <div class="programs__hidden-homeimg">
              <img class="programs__home-img" src="images/programs/homes.png" alt="Home">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>