<section class="faq">
  <div class="container">
    <div class="faq__inner">
      <h2 class="faq__title title">Популярные вопросы</h2>
      <div class="accordion">
        <div class="accordion__container" id="accordion">
          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Что такое «Первый жилищный» кооператив?</h4>
            </div>
            <div class="accordion__content">
              <p>
                «Первый жилищный» кооператив, является некоммерческой организацией, т.е. юридическим лицом, не
                преследующим в качестве
                основной цели своей деятельности извлечение прибыли.
              </p>
              <p>
                Жилищным кооперативом признается добровольное объединение граждан и (или) юридических лиц на основе
                членства в целях
                удовлетворения потребностей граждан в жилье.
              </p>
              <p>
                «Первый жилищный» кооператив создан в городе Бишкек, 5 октября 2017 года. В соответствии с законами
                Кыргызской
                Республики «О кооперативах» от «30» апреля 2004 года и №111 «О некоммерческих организациях» от 15
                октября 1999 года.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">В чем отличие жилищного кооператива от Банка?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Так как, паевой фонд кооператива «Первый жилищный» обходится без заемных средств и не имеет
                инвесторов, с их большими
                процентами, то вся недвижимость для пайщиков кооператива будет стоить почти в два раза меньше, чем по
                ипотечному кредиту
                в любом из банков.
              </p>
              <p>
                Поэтому, основным отличием вступления в ЖК от ипотечного кредита в банке, является наиболее простой и
                легкий способ
                приобретения собственной квартиры.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Могу ли я получить жилье, если я работаю неофициально?</h4>
            </div>
            <div class="accordion__content">
              <p>
                В соответствии с законами Кыргызской Республики «О кооперативах», стать членом жилищного кооператива,
                а соответственно и
                получить жилье, может любой гражданин КР от 18 лет. При этом подтверждение доходов не требуется!
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Кто такой пайщик?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Пайщик – гражданин или юридическое лицо удовлетворяющее требованиям закона «О кооперативах», внесший
                паевой
                (имущественный) взнос в установленном Уставом кооператива размере и порядке, и принятое в кооператив с
                правом голоса.
              </p>
              <p>
                Пайщиком кооператива «Первый жилищный» может стать гражданин Республики Кыргызстан вне зависимости от
                вероисповедания,
                национальной принадлежности, материального достатка.
              </p>
              <p>
                Пайщик имеет право, как вступать в кооператив, так и выходить из него на добровольной основе.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Какую недвижимость можно приобрести через ЖК?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Кооператив приобретает любую жилую или коммерческую недвижимость, которая соответствует внутренним
                требованиям
                кооператива: новостройки (введенные в эксплуатацию), жилье на вторичном рынке (не старше 1965 года
                постройки), частные
                дома (не старше 1965 года постройки, не саманные, не шпальные, не щитовые), коммерческая недвижимость
                (находящаяся в
                собственности).
              </p>
            </div>
          </div>
        </div>

        <div class="accordion__container" id="accordion">
          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Кто будет подыскивать для меня квартиру?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Право выбора приобретаемой недвижимости остается за пайщиком кооператива. Так же сотрудники
                кооператива «Первый
                жилищный» могут посодействовать Вам в поиске недвижимости и предложить варианты.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Что будет, если вы обанкротитесь или закроете кооператив?</h4>
            </div>
            <div class="accordion__content">
              <p>
                По Уставу кооператив может закрыться, только в том случае, если все члены жилищного кооператива выйдут
                из него. Если
                хотя бы один пайщик будет против, то ЖК не может быть закрыт или реорганизован. Если хотя бы один
                человек не пожелает
                выйти, кооператив не может быть ликвидирован. Банкротство кооперативу не грозит, так как имеется
                единый имущественный
                фонд, состоящий из недвижимости, имеющейся на балансе кооператива.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Могу ли я сдать квартиру в субаренду?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Согласно условий договора, арендатор имеет право передать жилое помещение в пользование субарендатору,
                предварительно
                уведомив об этом Правление кооператива.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Могу ли я приобрести коммерческую недвижимость?</h4>
            </div>
            <div class="accordion__content">
              <p>
                Да, можно приобрести коммерческую недвижимость. Недвижимость должна находиться в собственности и без
                имеющихся
                обременений.
              </p>
            </div>
          </div>

          <div class="accordion__box">
            <div class="accordion__title-box">
              <h4 class="accordion__title">Можете ли Вы продать квартиру без ведома пайщика?</h4>
            </div>
            <div class="accordion__content">
              <p>
                На квартиру выданную Вам кооперативом, будет зарегистрировано обременение права. Вы, также как и
                кооператив, будете
                являться правообладателем. Соответственно, одна из сторон не может продать, заложить или подарить
                недвижимость без
                участия и согласия второй стороны.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="faq__questions-box">
        <h4 class="faq__questions-text">Не нашли ответы на вопросы? Задайте их сейчас!</h4>
        <div class="faq__btn-box">
          <a class="faq__btn button" href="#popup-request">Отправить заявку</a>
          <a class="faq__btn button" href="#">все ответы</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>