<section class="reviews">
  <div class="container">
    <h2 class="reviews__title title">Отзывы пайщиков</h2>

    <ul class="reviews__content">
      <li class="reviews__item">
        <div class="reviews__text-box">
          <h3 class="reviews__item-title">Отзыв: Керимбаева Асель Мойдановна</h3>
          <div class="reviews__text">
            <p>
              Выражаю огромную благодарность кооперативу "Первый Жилищный" - за полученную квартиру и профессионализм.
            </p>
            <p>Немного расскажу, как я узнала о его деятельности. Примерно в середине октября я услышала о том, что в
              Бишкеке есть
              возможность приобрести жильё в аренду с последующим выкупом. Я стала искать информацию, заглянула в
              интернет и нашла
              сайт кооператива "Первый Жилищный".</p>
            <p>
              Честно скажу, я даже не читала условия. Нашла адрес и побежала на консультацию. Ребята менеджеры мне всё
              подробно
              объяснили, ознакомили с программой и документами, за что им отдельное спасибо! Условия мне понравились и я
              не стала
              медлить.
            </p>
            <p>
              Я очень рада тому, что наконец-то есть возможность в Кыргызстане решить жилищный вопрос! Огромное спасибо
              кооперативу
              "Первый Жилищный" и его сотрудникам, за чуткость и профессионализм.
            </p>
          </div>

          <a class="button reviews__btn" href="https://youtu.be/FkQ_2inMyp8" target="_blank">смотреть на youtube</a>
        </div>

        <a class="reviews__img-link" href="https://youtu.be/FkQ_2inMyp8" data-fancybox>
          <img class="reviews__img" src="images/reviews/1.jpg" alt="Керимбаева Асель Мойдановна">
        </a>
      </li>

      <li class="reviews__item">
        <div class="reviews__text-box">
          <h3 class="reviews__item-title">Отзыв: Кошбакова Нургуль Усеновна</h3>
          <div class="reviews__text">
            <p>
              Выражаю свою огромную благодарность Первому Жилищному Кооперативу. Я давно мечтала о своей квартире, и
              поняла, что мечты
              сбываются, и Первый Жилищный Кооператив помог мне исполнить свою мечту..
            </p>
            <p>
              В начале, у меня были сомнения, но изучив документы и сделав все необходимые расчеты, я решилась и стала
              участником
              программы "Доступное Жилье". Я доверилась, и не зря , и все мои надежды оправдались..
            </p>
            <p>
              Через 3,5 месяца, я стала владелицей 3-х комнатной квартиры в городе Бишкек. Желаю Вам процветания, вы
              проделали
              огромную работу. Выражаю свою благодарность, за то что помогаете людям приобрести собственное жилье.
            </p>
          </div>

          <a class="button reviews__btn" href="https://youtu.be/YXhxnFUbsLM">смотреть на youtube</a>
        </div>

        <a class="reviews__img-link" href="https://youtu.be/YXhxnFUbsLM" data-fancybox>
          <img class="reviews__img" src="images/reviews/2.jpg" alt="Керимбаева Асель Мойдановна">
        </a>
      </li>
    </ul>
  </div>
</section>