<section class="stages">
  <div class="container">
    <div class="stages__wrapper">
      <aside class="aside">
        <nav class="aside__menu aside__aside-item">
          <ul class="aside__menu-list">
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="accumulative-page.html">
                Накопительная программа
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="accessible-page.html">
                Доступное жилье
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="stages-page.html">
                Этапы приобретения
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="types-page.html">
                Требования к недвижимости
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="guarantee-page.html">
                Гарантии и преимущества
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="faq-page.html">
                Вопросы и ответы
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

        <div class="aside__doc aside__aside-item">
          <h3 class="aside__doc-title">Документы Кооператива</h3>
          <ul class="aside__doc-list">
            <li class="aside__doc-item">
              <a class="aside__doc-link" href="images/stages/docs.jpg" target="_blank">
                Свидетельство НК
                <svg class="aside__doc-svg" width="28px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#image"></use>
                </svg>
              </a>
            </li>
            <li class="aside__doc-item">
              <a class="aside__doc-link" href="images/stages/pass-d.pdf" target="_blank">
                Устав Кооператива
                <svg class="aside__doc-svg" width="28px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#pdf"></use>
                </svg>
              </a>
            </li>
            <li class="aside__doc-item">
              <a class="aside__doc-link" href="images/stages/zayavleniye.pdf" target="_blank">
                Паспорт программ
                <svg class="aside__doc-svg" width="28px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#pdf"></use>
                </svg>
              </a>
            </li>
            <li class="aside__doc-item">
              <a class="aside__doc-link" href="images/stages/zayavleniye.pdf" target="_blank">
                Заявление на вступление
                <svg class="aside__doc-svg" width="28px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#pdf"></use>
                </svg>
              </a>
            </li>
            <li class="aside__doc-item">
              <a class="aside__doc-link" href="images/stages/zayavleniye.pdf" target="_blank">
                Договор о паевом взносе
                <svg class="aside__doc-svg" width="28px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#pdf"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <ul class="aside__manager-box aside__aside-item">
          <li class="aside__manager-item">
            <img class="aside__manager-img" src="images/stages/manager-1.jpg" alt="manager-1">
            <div class="aside__manager-textbox">
              <div class="aside__manager-name">
                Иван Иванов
              </div>
              <a class="aside__manager-phone aside__manager-link" href="tel:+996555000000">
                +996 (555) 000000
              </a>
              <a class="aside__manager-mail aside__manager-link" href="mailtO:inbox@1k.kg">inbox@1k.kg</a>
            </div>
          </li>

          <li class="aside__manager-item">
            <img class="aside__manager-img" src="images/stages/manager-2.jpg" alt="manager-1">
            <div class="aside__manager-textbox">
              <div class="aside__manager-name">
                Анна Кузнецова
              </div>
              <a class="aside__manager-phone aside__manager-link" href="tel:+996555000000">
                +996 (555) 000000
              </a>
              <a class="aside__manager-mail aside__manager-link" href="mailtO:inbox@1k.kg">inbox@1k.kg</a>
            </div>
          </li>
        </ul>
      </aside>

      <div class="stages__content">
        <img class="stages__content-img" src="images/stages/etap.jpg" alt="Этапы приобретения">
        <h3 class="stages__content-title">Этапы приобретения недвижимости</h3>
        <ul class="stages__content-list">
          <li class="stages__content-item">
            <div class="stages__content-textbox">
              <h4 class="stages__content-itemtitle">1. Заявление на вступление</h4>
              <div class="stages__content-text">
                <p>
                  На пути к приобретению собственной недвижимости, будет вступление в кооператив. Для этого требуется
                  заполнить заявление
                  на имя Председателя правления кооператива, указав свои данные и паспортные данные гражданина
                  Кыргызской
                  Республики.
                </p>
              </div>
            </div>

            <img class="stages__contentitem-img" src="images/stages/1.jpg" alt="Заявление на вступление">
          </li>

          <li class="stages__content-item">
            <div class="stages__content-textbox">
              <h4 class="stages__content-itemtitle">2. Договор о паевом взносе</h4>
              <div class="stages__content-text">
                <p>
                  Составляется индивидуальный договора о паевом взносе и включение пайщика в очередь. Данный договор
                  включает в себя все
                  условия по выплатам и индивидуальный график. Указывается размер первоначального взноса и остаток за
                  весь
                  период
                  проживания и выкупа.
                </p>
              </div>
            </div>

            <img class="stages__contentitem-img" src="images/stages/2.jpg" alt="Договор о паевом взносе">
          </li>

          <li class="stages__content-item">
            <div class="stages__content-textbox">
              <h4 class="stages__content-itemtitle">3. Внесение первоначального взноса</h4>
              <div class="stages__content-text">
                <p>
                  На основании заключенного Договора, выписывается счет на оплату. Оплата первоначального взноса
                  проходит
                  в
                  отделениях
                  банка, на счет Кооператива. Копия квитанции предоставляется в бухгалтерию кооператива «Первый
                  жилищный».
                </p>
              </div>
            </div>

            <img class="stages__contentitem-img" src="images/stages/3.jpg" alt="Внесение первоначального взноса">
          </li>

          <li class="stages__content-item">
            <div class="stages__content-textbox">
              <h4 class="stages__content-itemtitle">4. Регистрация в Управлении Юстиции КР</h4>
              <div class="stages__content-text">
                <p>
                  Составляется протокол очередного собрания и в заявление о приеме (вносится отметка), с указанием
                  номера
                  протокола и даты
                  проведения собрания. На основании протокола собрания, составляется уведомление об изменении состава
                  Кооператива, для
                  регистрации новых пайщиков, уведомление подается в УЮ города.
                </p>
              </div>
            </div>

            <img class="stages__contentitem-img" src="images/stages/4.jpg" alt="Регистрация в Управлении Юстиции КР">
          </li>

          <li class="stages__content-item">
            <div class="stages__content-textbox">
              <h4 class="stages__content-itemtitle">5. Выбор недвижимости</h4>
              <div class="stages__content-text">
                <p>
                  На очередном собрания Пайщиков на повестку дня выносится вопрос о приобретении недвижимости, для
                  передачи
                  с последующим
                  выкупом. Составляется протокол внеочередного собрания и Решением общего собрания приобретается
                  недвижимость. Пайщик
                  выбирает необходимую недвижимость в любом районе города, области или Республики.
                </p>
              </div>
            </div>

            <img class="stages__contentitem-img" src="images/stages/5.jpg" alt="Выбор недвижимости">
          </li>

          <li class="stages__content-item">
            <div class="stages__content-textbox">
              <h4 class="stages__content-itemtitle">6. Приобретение недвижимости</h4>
              <div class="stages__content-text">
                <p>
                  Специалист кооператива оценивает данную недвижимость на соответствие Условиям программы Кооператива.
                  Договор
                  купли-продажи между Продавцом недвижимости и Кооперативом составляется в госрегистре.
                </p>
              </div>
            </div>

            <img class="stages__contentitem-img" src="images/stages/6.jpg" alt="Приобретение недвижимости">
          </li>

          <li class="stages__content-item">
            <div class="stages__content-textbox">
              <h4 class="stages__content-itemtitle">7. Договор доверительного управления</h4>
              <div class="stages__content-text">
                <p>
                  Составляется Договор доверительного управления, между Кооперативом и Пайщиком, в трех экземплярах. В
                  договоре
                  указывается жилое помещение, его квадратура, сведения о собственнике. Включаются права и обязанности
                  каждой стороны.
                  Подписание Договора сторонами осуществляется у нотариуса и регистрируется в госрегистре.
                </p>
              </div>
            </div>

            <img class="stages__contentitem-img" src="images/stages/7.jpg" alt="Договор доверительного управления">
          </li>

          <li class="stages__content-item">
            <div class="stages__content-textbox">
              <h4 class="stages__content-itemtitle">8. Справка о зарегистрированных правах</h4>
              <div class="stages__content-text">
                <p>
                  С Управления Юстиции выходит справка о зарегистрированных правах/обременениях. Согласно данной
                  справке,
                  на
                  право
                  Кооператива на недвижимость, регистрируется обременение права от имени Пайщика. Накладывается арест до
                  полного
                  выполнения, Сторонами, условий Договора.
                </p>
              </div>
            </div>

            <img class="stages__contentitem-img" src="images/stages/8.jpg" alt="Справка о зарегистрированных правах">
          </li>

          <li class="stages__content-item">
            <div class="stages__content-textbox">
              <h4 class="stages__content-itemtitle">9. Получение права собственности</h4>
              <div class="stages__content-text">
                <p>
                  При выполнении Пайщиком обязательств, по выплате паевого взноса, составляется Договор купли-продажи
                  между
                  Кооперативом и
                  Пайщиком, и квартира передается Пайщику в единоличную собственность.
                </p>
              </div>
            </div>

            <img class="stages__contentitem-img" src="images/stages/9.jpg" alt="Получение права собственности">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>