<div class="terms">
  <div class="container">
    <ul class="terms__slider">
      <li class="terms__item">
        <div class="terms__content-text">
          <p>
            Самые низкие процентные ставки в Кыргызстане, по сравнению с ипотечными кредитами банков, даже по сравнению
            с льготной
            ипотекой по особым программам.
          </p>
        </div>

        <div class="terms__bottom-text">
          <span class="terms__bottom-span">Правление</span>
          <p>
            «Первый жилищный» кооператив
          </p>
        </div>
      </li>

      <li class="terms__item">
        <div class="terms__content-text">
          <p>
            Очень большой выбор объектов недвижимости. Вы можете приобрести квартиру, коттедж, уютный дом или
            коммерческую
            недвижимость, в любом городе Кыргызстана.
          </p>
        </div>

        <div class="terms__bottom-text">
          <span class="terms__bottom-span">Правление</span>
          <p>
            «Первый жилищный» кооператив
          </p>
        </div>
      </li>

      <li class="terms__item">
        <div class="terms__content-text">
          <p>
            Индивидуальный подход к каждому пайщику. Для вступления в жилищный кооператив «Первый жилищный» требуется
            всего один
            документ – оригинал паспорта КР.
          </p>
        </div>

        <div class="terms__bottom-text">
          <span class="terms__bottom-span">Правление</span>
          <p>
            «Первый жилищный» кооператив
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>