<section class="requirement">
  <div class="container">
    <div class="requirement__inner">
      <aside class="aside">
        <nav class="aside__menu aside__aside-item">
          <ul class="aside__menu-list">
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="#">
                Накопительная программа
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="#">
                Доступное жилье
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="#">
                Этапы приобретения
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="#">
                Требования к недвижимости
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="#">
                Гарантии и преимущества
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
            <li class="aside__menu-item">
              <a class="aside__menu-link" href="#">
                Вопросы и ответы
                <svg class="aside__menu-svg" width="25px" height="25px">
                  <use xlink:href="images/svg-sprite/sprite.svg#arrow"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

        <ul class="aside__manager-box aside__aside-item">
          <li class="aside__manager-item">
            <img class="aside__manager-img" src="images/stages/manager-1.jpg" alt="manager-1">
            <div class="aside__manager-textbox">
              <div class="aside__manager-name">
                Иван Иванов
              </div>
              <a class="aside__manager-phone aside__manager-link" href="tel:+996555000000">
                +996 (555) 000000
              </a>
              <a class="aside__manager-mail aside__manager-link" href="mailtO:inbox@1k.kg">inbox@1k.kg</a>
            </div>
          </li>

          <li class="aside__manager-item">
            <img class="aside__manager-img" src="images/stages/manager-2.jpg" alt="manager-1">
            <div class="aside__manager-textbox">
              <div class="aside__manager-name">
                Анна Кузнецова
              </div>
              <a class="aside__manager-phone aside__manager-link" href="tel:+996555000000">
                +996 (555) 000000
              </a>
              <a class="aside__manager-mail aside__manager-link" href="mailtO:inbox@1k.kg">inbox@1k.kg</a>
            </div>
          </li>
        </ul>
      </aside>

      <div class="requirement__content">
        <img class="requirement__img" src="images/requirement/content-img.jpg" alt="Требования к недвижимости">


        <div class="requirement__text-box">
          <h4 class="requirement__title">
            Требования к объектам недвижимости кооператива «Первый жилищный»
          </h4>

          <ul class="requirement__list">
            <li class="requirement__item">
              <p>
                Объект должен быть свободен от каких-либо ограничений (обременений) прав на него, в т. ч. прав третьих
                лиц, за
                исключением права проживания (пользования) членов семьи собственника, не должен находиться под арестом
                (запрещением), а
                право собственности на него не должно являться предметом судебного спора.
              </p>
            </li>
            <li class="requirement__item">
              <p>
                Среди лиц, находившихся ранее на регистрационном учете в жилом недвижимом имуществе, не должно быть
                граждан,
                снятых с
                регистрационного учета, в связи с отбытием в вооруженные силы Республики Кыргызстан, в места лишения
                свободы и
                т.п. То
                есть граждан, которые по возвращении, имели бы право зарегистрироваться по месту жительства, в
                заложенном
                жилом
                недвижимом имуществе
              </p>
            </li>
            <li class="requirement__item">
              <p>
                Объект должен быть подключен к электрическим, паровым или газовым системам отопления, обеспечивающим
                подачу
                тепла на всю
                площадь жилого недвижимого имущества.
              </p>
            </li>
            <li class="requirement__item">
              <p>
                Объект должен быть обеспечен водоснабжением в ванной комнате и на кухне, иметь в исправном состоянии
                сантехническое
                оборудование, двери, окна и крышу (для квартир на последних этажах).
              </p>
            </li>
            <li class="requirement__item">
              <p>
                Объект не должен быть расположен в многоквартирных домах барачного типа, общежитиях, деревянного типа (в
                т.ч.
                сборно-щитовые здания).
              </p>
            </li>
          </ul>
        </div>

        <div class="requirement__text-box">
          <h4 class="requirement__title">
            Объекты недвижимости, в которых расположено жилье, должно удовлетворять следующим требованиям:
          </h4>

          <ul class="requirement__list">
            <li class="requirement__item-bottom">
              <p>
                Не находиться в аварийном состоянии;
              </p>
            </li>
            <li class="requirement__item-bottom">
              <p>
                Не состоять на учете по постановке на капитальный ремонт, реконструкцию с отселением, снос;
              </p>
            </li>
            <li class="requirement__item-bottom">
              <p>
                Иметь железобетонный, каменный или кирпичный фундамент;
              </p>
            </li>
            <li class="requirement__item-bottom">
              <p>
                Иметь металлические, железобетонные или смешанные перекрытия.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>