<section class="welcome">
  <div class="container">
    <h2 class="welcome__title title">«Первый жилищный» Добро пожаловать Домой!</h2>
    <div class="welcome__top-content">
      <div class="welcome__img-box">
        <img class="welcome__img" src="images/about/about-company.jpg" alt="welcome image">

        <div class="welcome__text-item">
          <div class="welcome__text-wrap">
            <div class="welcome__text">
              <h3 class="welcome__text-title">
                «Первый жилищный» - Доступное жилье в Кыргызстане
              </h3>
              <p>
                Кооператив «Первый жилищный» - осуществляет свою деятельность на территории Кыргызстана в соответствии с
                законом
                Республики Кыргызстан «О кооперативах» от «30» апреля 2004 года и №111 «О некоммерческих организациях»
                от
                15
                октября
                1999 года, согласно которых единственным учредительным документом Жилищного кооператива является его
                Устав,
                утвержденный
                на собрании пайщиков.
              </p>
            </div>
          </div>

          <div class="welcome__text-wrap">
            <h3 class="welcome__text-title welcome__text-title--accent">Лучшая программа по приобретению жилья</h3>
            <div class="welcome__text">
              <p>
                Кооператив «Первый жилищный» даёт возможность гражданам Кыргызской Республики получить кооперативное
                жилье
                с
                минимальным
                пакетом документов, одновременно проживать (прописаться и прописывать жильцов) в ней и выкупать с самой
                минимальной
                платой согласно составленного графика платежей. Помимо этого, недвижимость возможно сдать в долгосрочную
                субаренду,
                заранее уведомив об этом правление кооператива.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="welcome__text-box">
        <div class="welcome__boxes">
          <h3 class="welcome__text-title welcome__text-title--accent">Деятельность жилищного кооператива</h3>
          <div class="welcome__text">
            <p>
              Устав является юридическим основанием всех действий Жилищного кооператива и его органов, как во внутренней
              деятельности,
              так и в отношениях с третьими лицами. Деятельность кооператива «Первый жилищный» абсолютно прозрачна и
              отражена в
              Уставе, который представлен на нашем сайте наряду с остальными основополагающими документами Кооператива,
              так же
              ознакомиться с правоустанавливающими документами Вы можете в уютном офисе кооператива.
            </p>

            <p>
              Председатель Правления — является главным органом управления жилищным кооперативом «Первый жилищный», в
              периоды между
              общими собраниями пайщиков. Высшим органом управления жилищного кооперативом является общее собрание
              членов-пайщиков.
              Каждый пайщик принимает участие в собрании пайщиков и принимает решения по вопросам его развития.
            </p>
          </div>
        </div>

        <div class="welcome__boxes">
          <div class="welcome__text">
            <p>
              Жилая недвижимость может быть приобретена в любом городе Республики Кыргызстан, условие (для новостроек) —
              недвижимость
              должна быть введена в эксплуатацию. Главным критерием приобретения вторичного жилья, является год
              постройки
              жилого дома,
              который должен быть не старше 1965 г. независимо от квартиры или частного дома (из жженного кирпича).
            </p>
            <p>
              На сегодняшний день в кооперативе «Первый жилищный» представлено 2 программы приобретения недвижимости,
              как
              с
              первоначальным взносом, так и по накопительной программе с самым минимальным первоначальным взносом в
              Республике
              Кыргызстан.
            </p>
            <p>
              В нашем офисе Вы всегда встретите дружескую атмосферу и получите полную информацию и детальный алгоритм
              участия в
              программах от компетентных сотрудников жилищного кооператива. Так же ознакомитесь с Уставными документами
              кооператива.
            </p>
          </div>
        </div>
      </div>
    </div>

    <ul class="welcome__bottom-content">
      <li class="welcome__bottom-item">
        <img class="welcome__bottom-img" src="images/welcome/1.jpg" alt="Миссия кооператива">
        <div class="welcome__bottom-box">
          <h3 class="welcome__bottom-title">Миссия кооператива</h3>
          <div class="welcome__bottom-text">
            <p>
              Улучшение жилищных условий граждан КР с различным уровнем дохода и повышение возможности приобретения
              доступного жилья
              для широких слоев населения.
            </p>
          </div>
        </div>
      </li>

      <li class="welcome__bottom-item">
        <img class="welcome__bottom-img" src="images/welcome/2.jpg" alt="Финансовая гарантия">
        <div class="welcome__bottom-box">
          <h3 class="welcome__bottom-title">Финансовая гарантия</h3>
          <div class="welcome__bottom-text">
            <p>
              Паевой фонд кооператива сосредоточен на счете банка, денежные средства могут быть направлены только на
              приобретение
              недвижимости, либо возврат средств.
            </p>
          </div>
        </div>
      </li>

      <li class="welcome__bottom-item">
        <img class="welcome__bottom-img" src="images/welcome/3.jpg" alt="Лёгкость">
        <div class="welcome__bottom-box">
          <h3 class="welcome__bottom-title">Лёгкость</h3>
          <div class="welcome__bottom-text">
            <p>
              Для вступления в кооператив «Первый жилищный» достаточно предоставить, всего один документ: паспорт
              гражданина
              Республики Кыргысзтан.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>